<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <nav>
        <div class="header">
          <img src="assets\logo.png" />
          <label>ProPay</label>
        </div>

        <div class="signin">
          <a routerLink="signup"> Signup/Register</a>
        </div>
      </nav>
    </div>
    <div class="container">
    <div class="text">
    <h1 aria-label="Hi! I'm a developer">
        Hi! I'm&nbsp;<span class="typewriter thick"></span>
      </h1>
    <span class="para">One Click Solution For Every Payment</span>
 <div class="loginbtn">
    <a routerLink="login" class="btn" > Get-Started</a>
</div>
    </div>
    <div class="right">
        <img class="lap" src="../../assets/landermobile.svg"/>
    </div>
    </div>
  </body>
</html>