<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


  <h1 class="plans_heading">PLANS</h1>

<div class="flip_row">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          class="image"
          src="https://images.pexels.com/photos/5980747/pexels-photo-5980747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
        
      </div>
      <div class="flip-card-back">
        <img
          class="small_bg"
          src="https://th.bing.com/th/id/OIP.28uAmBG1H22L8tF-2U9VzwHaEo?pid=ImgDet&rs=1"/>
        <h1>GOLDEN MEMBERSHIP</h1>
        <p>Benefits upto 10 lakhs</p>
        <p>STANDARD SCHEME</p>
      
          <!-- <a routerLink="/insurance" routerLinkActive="active">Apply Now </a></button> -->
          <a class="btn"
            routerLink="/insurancefirst"
            >Apply Now
          </a>
      
      </div>
    </div>
  </div>

  <br /><br />
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          class="image"
          src="https://media.istockphoto.com/id/1225738712/photo/platinum-ingot-pile.jpg?s=612x612&w=is&k=20&c=u3hiBnIpsx5mVQ5czpanvVvMeH8sYSiFLbFRUJvQvFM="
        />
      </div>
      <div class="flip-card-back">
        <img
          class="small_bg"
          src="https://t3.ftcdn.net/jpg/02/90/04/38/360_F_290043818_4Nm4cBmmWOPRVVPAjzB4EcMgGR3iB6c5.jpg"
        />
        <h1>PLATINUM MEMBERSHIP</h1>
        <p>Benefits upto 18 lakhs</p>
        <p>PREMIUM SCHEME</p>
        
          <!-- <a routerLink="/insurance" routerLinkActive="active">Apply Now </a></button> -->
          <a class="btn"
          
            routerLink="/insurancefirst"
            >Apply Now
          </a>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          class="image"
          src="https://cdn.pixabay.com/photo/2017/11/13/11/48/heart-2945406_960_720.jpg"
        />
        
      </div>
      <div class="flip-card-back">
        <img
          class="small_bg"
          src="https://i.pinimg.com/originals/0e/1f/2f/0e1f2fea5131447e0f54fb27656af361.jpg"
        />
        <h1>DIAMOND MEMBERSHIP</h1>
        <p>Benefits upto 23 lakhs</p>
        <p>PREMIUM PLUS SCHEME</p>
        
            <a class="btn"
              routerLink="/insurancefirst"
              routerLinkActive="active"
              >Apply Now
            </a>
          
      </div>
    </div>
  </div>
</div>
</body>
</html>
