<!DOCTYPE html> 
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Window</title>
</head>

<body>
    <div class="login-box">
        <div class="left-login">
            <img src="assets\secure-payment.png">
            <p>Simple and Secure way for all transactions. Use ProPay to pay your bills like a Pro!</p>
        </div>
        <div class="right-login">
        <h1>Login</h1>

        <form #myForm = "ngForm" (ngSubmit)="userLogin()">
            <label> Email</label> <input id = "email" [(ngModel)]="user.email" type="email" name="email" #email="ngModel" ngModel required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" /> 
            <div *ngIf="email.touched">
                <div *ngIf="email.errors?.['required']">
                <font color="red"><b>Email Required.</b></font>
                </div>
                <div *ngIf="email.errors?.['pattern']">
                <font color="red"><b>Invalid Email.</b></font>
                </div>
                </div> 
            <label>Password</label> <input id = "tBox" [(ngModel)]="user.password" name="password" type="password" #password="ngModel" ngModel required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}">
            <div *ngIf="password.touched">
                <div *ngIf="password.errors?.['required']">
                    <font color="red"><b>Password Required.</b></font>
                </div>
                <div *ngIf="password.errors?.['pattern']">
                    <font color="red"><b>Invalid Password.</b></font>
                </div>
            </div><br>
            <br><a routerLink = "/reset" class="resetpwd">Forgot/Reset password</a><br>
            <button class="button" type="submit" [disabled]="myForm.invalid">LOGIN </button>
            <p class="line3">
        Don't have an account? <a routerLink="/signup" >Sign Up Here</a>
    </p>
        </form>
    </div>
    </div>

</body>
</html>
