<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="assets\logo.png">
                <label>ProPay</label>
            </div>
            <div class="menu">
                <ul>
                    <li><a routerLink="/landing" (click) ="toHome()">Home</a></li>
                    <li><a routerLink="/landing" (click) ="toAboutUs()">About Us</a></li>
                    <li><a routerLink="/landing" (click) ="toContactUs()">Contact us</a></li>
                    <li><a routerLink="/landing" (click) ="toFeedback()">Feedback</a></li>
                </ul>
            </div>
            
            <div class="signin">
             
                <a routerLink = "/login"><img src="assets\account.png"></a>
            </div>
        </nav>
    </div>
    <br><br><br>
    <router-outlet></router-outlet>

</body>
</html>
--------------------------------------------------------------------------------------------------------
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="assets\logo.png">
                <label>ProPay</label>
            </div>
            <div class="menu">
                <ul>
                    <li><a routerLink="home" (click) ="toHome()">Home</a></li>
                    <li><a routerLink="home" href="#aboutus" (click) ="toAboutUs()">About Us</a></li>
                    <li><a routerLink="home" href="#contactus" (click) ="toContactUs()">Contact us</a></li>
                    <li><a routerLink="home" href="#feedback" (click) ="toFeedback()">Feedback</a></li>
                </ul>
            </div>
            
            <div class="signin">
             
                <a routerLink = "/login"><img src="assets\account.png"></a>
            </div>
        </nav>
    </div>
    <br><br><br>
    <router-outlet></router-outlet>

</body>
</html> -->

<!-- <a routerLink="/transactions">TRANSACTIONS</a> -->
<router-outlet></router-outlet>
<!-- <app-transactions></app-transactions> -->
