<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <a routerLink="/gasHistory">GAS HISTORY</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/fasttagHistory">FASTTAG HISTORY</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/electricityHistory">EB HISTORY</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/creditHistory">CREDIT CARD HISTORY</a> &nbsp;&nbsp;&nbsp;

    <a routerLink="/insuranceHistory">INSURANCE HISTORY</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/mobileHistory">MOBILE RECHARGE HISTORY</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/dthHistory">DTH HISTORY</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/broadbandHistory">BROADBAND HISTORY</a> &nbsp;&nbsp;&nbsp;
</div>
</body>
</html>



  
<!-- <router-outlet name="child1"></router-outlet> -->
